/* card.css */
.card {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* padding: 20px; */

  }
  
  .course-card {
    width: calc(33.33% - 20px);
    /* margin-bottom: 20px; */
    box-shadow: 0 4px 9px 8px rgba(160, 159, 159, 0.1);
    /* border-radius: 8px; */
    border: 1px solid whitesmoke;
    padding: 20px;
    background-color: #405d27;
    
  }
  
  .course-card h3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }
  
  .course-card p {
    font-size: 16px;
    color: wheat;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  /* Add any additional styles as needed */
  @media screen and (max-width: 768px) {
    .card {
        display: flex;
        flex-wrap: wrap;
       width: fit-content;
        /* padding: 20px; */
    
      }
      .course-card {
        width: calc(33.33%);
        /* margin-bottom: 20px; */
     
        padding: 12px;
     
        
      }
    }
    @media screen and (max-width: 412px) {
        .card {
            display: flex;
            flex-wrap: wrap;
            /* padding: 20px; */
        
          }

          .course-card {
            width: calc(33.33%);
            /* margin-bottom: 20px; */
         
            padding: 8px;
         
            
          }
        }